---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #8AAAE5;
$light-gray: #8AAAE5;
$light-gray: #8AAAE5;
$lighter-gray:  #8AAAE5;
$text-color: #000;
$link-color: #8AAAE5;
$h-size-2: 1.0em !default;
$h-size-1: 1.25em !default;
$h-size-3: 0.95em !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

